<!-- ... -->
<launch>

  <node pkg="ocam" type="ocam" name="first" output="screen">
    <param name="serial"        value="SN_35E27022"/>
    <param name="resolution"    value="1"/> <!-- 0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360 -->
    <param name="frame_rate"    value="60.0 "/>
    <param name="exposure"      value="171"/>
    <param name="gain"          value="50"/>
    <param name="wb_blue"       value="200"/>
    <param name="wb_red"        value="160"/>
    <param name="auto_exposure" value="false"/>
    <param name="show_image"    value="true"/>
    <param name="camera_frame_id" value="first"/>
  </node>

  <node pkg="ocam" type="ocam" name="second" output="screen">
    <param name="serial"        value="SN_35E27001"/>
    <param name="resolution"    value="1"/> <!-- 0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360 -->
    <param name="frame_rate"    value="60.0"/>
    <param name="exposure"      value="171"/>
    <param name="gain"          value="50"/>
    <param name="wb_blue"       value="200"/>
    <param name="wb_red"        value="160"/>
    <param name="auto_exposure" value="false"/>
    <param name="show_image"    value="true"/>
    <param name="camera_frame_id" value="second"/>
  </node>

</launch>
