<launch>

    <arg name="resolution"    default="3"/> <!-- 0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360 -->
    <arg name="frame_rate"    default=""/>
    <arg name="exposure"      default="40"/>
    <arg name="gain"          default="75"/>
    <arg name="wb_blue"       default="200"/>
    <arg name="wb_red"        default="160"/>
    <arg name="auto_exposure" default="false"/>
    <arg name="show_image"    default="false"/>

    <group ns = "right">

        <!-- Nodelet manager -->
        <node pkg="nodelet" type="nodelet" name="right_nodelet_manager" args="manager" cwd="node" output="screen"/>

        <node pkg="ocam" type="ocam" name="right" args="manager" cwd="node" output="screen">
            <param name="serial"        value="SN_35E27001"/>
            <param name="resolution"    value="$(arg resolution)"/> <!-- 0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360 -->
            <param name="frame_rate"    value="$(arg frame_rate)"/>
            <param name="exposure"      value="$(arg exposure)"/>
            <param name="gain"          value="$(arg gain)"/>
            <param name="wb_blue"       value="$(arg wb_blue)"/>
            <param name="wb_red"        value="$(arg wb_red)"/>
            <param name="auto_exposure" value="$(arg auto_exposure)"/>
            <param name="show_image"    value="$(arg show_image)"/>
            <param name="camera_frame_id" value="right"/>
        </node>

        <node pkg="image_proc" type="image_proc" name="right_image_rectify"/>

    </group>

    <group ns = "center_left">
        <!-- Nodelet manager -->
        <node pkg="nodelet" type="nodelet" name="center_left_nodelet_manager" args="manager" cwd="node" output="screen"/>

        <node pkg="ocam" type="ocam" name="center_left" args="manager" cwd="node" output="screen">
            <param name="serial"        value="SN_35E27022"/>
            <param name="resolution"    value="$(arg resolution)"/> <!-- 0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360 -->
            <param name="frame_rate"    value="$(arg frame_rate)"/>
            <param name="exposure"      value="$(arg exposure)"/>
            <param name="gain"          value="$(arg gain)"/>
            <param name="wb_blue"       value="$(arg wb_blue)"/>
            <param name="wb_red"        value="$(arg wb_red)"/>
            <param name="auto_exposure" value="$(arg auto_exposure)"/>
            <param name="show_image"    value="$(arg show_image)"/>
            <param name="camera_frame_id" value="center_left"/>
        </node>

        <node pkg="image_proc" type="image_proc" name="center_left_image_rectify"/>

    </group>


    <group ns = "center_right">
        <!-- Nodelet manager -->
        <node pkg="nodelet" type="nodelet" name="center_right_nodelet_manager" args="manager" cwd="node" output="screen"/>

        <node pkg="ocam" type="ocam" name="center_right" args="manager" cwd="node" output="screen">
            <param name="serial"        value="SN_35E27024"/>
            <param name="resolution"    value="$(arg resolution)"/> <!-- 0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360 -->
            <param name="frame_rate"    value="$(arg frame_rate)"/>
            <param name="exposure"      value="$(arg exposure)"/>
            <param name="gain"          value="$(arg gain)"/>
            <param name="wb_blue"       value="$(arg wb_blue)"/>
            <param name="wb_red"        value="$(arg wb_red)"/>
            <param name="auto_exposure" value="$(arg auto_exposure)"/>
            <param name="show_image"    value="$(arg show_image)"/>
            <param name="camera_frame_id" value="center_right"/>
        </node>

        <node pkg="image_proc" type="image_proc" name="center_right_image_rectify"/>

    </group>

    <group ns = "left">
        <!-- Nodelet manager -->
        <node pkg="nodelet" type="nodelet" name="left_nodelet_manager" args="manager" cwd="node" output="screen"/>

        <node pkg="ocam" type="ocam" name="left" args="manager" cwd="node" output="screen">
            <param name="serial"        value="SN_35E27195"/>
            <param name="resolution"    value="$(arg resolution)"/> <!-- 0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360 -->
            <param name="frame_rate"    value="$(arg frame_rate)"/>
            <param name="exposure"      value="$(arg exposure)"/>
            <param name="gain"          value="$(arg gain)"/>
            <param name="wb_blue"       value="$(arg wb_blue)"/>
            <param name="wb_red"        value="$(arg wb_red)"/>
            <param name="auto_exposure" value="$(arg auto_exposure)"/>
            <param name="show_image"    value="$(arg show_image)"/>
            <param name="camera_frame_id" value="left"/>
        </node>

        <!-- Color rectified image -->
        <node pkg="image_proc" type="image_proc" name="left_image_rectify"/>
        
    </group>    

    <node pkg="vectornav" type="vnpub" name="vectornav" output="screen" >
	  <param name="frame_id" value="vectornav"/>
      <rosparam command="load" file="$(find vectornav)/params/vn200.yaml" />
	</node>	

	  

</launch>
